/* Общие стили для всей страницы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #343a40;
    text-align: center;
}

/* Стили для навигации */
nav {
    text-align: center;
    margin-bottom: 20px;
}

/* Стили для кнопок */
button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Стили для форм */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input, form button {
    width: 100%;
    margin-bottom: 15px;
}

form button[type="submit"] {
    background-color: #4caf50;
}

form button[type="submit"]:hover {
    background-color: #388e3c;
}

/* Стили для полей ввода */
input, textarea {
    padding: 10px;
    font-size: 1rem;
    margin: 10px 0;
    width: 600px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: white;
}

input[type="file"] {
    padding: 5px 0;
}

/* Стили для разделителей */
hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ddd;
}

/* Стили для списка контактов */
#contactList {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

#contactList div {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

#contactList div:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contactList div img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#contactList div strong {
    font-size: 1.2rem;
    color: #333;
}

#contactList div button {
    padding: 5px 10px;
    font-size: 0.9rem;
}

#contactList div button:first-child {
    background-color: #ff9800;
}

#contactList div button:first-child:hover {
    background-color: #fb8c00;
}

#contactList div button:last-child {
    background-color: #f44336;
}

#contactList div button:last-child:hover {
    background-color: #e53935;
}

/* Стиль для поля поиска */
#searchInput {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
}

/* Стиль для сообщений об ошибках */
.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
}
