<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Контактный менеджер</title>
</head>
<body>
    <h1 style="text-align: center;">Контактный менеджер</h1>
    <div class="header-controls">
    <nav>
        <button onclick="window.location.href='/add_contact'">Добавить контакт</button>
    </nav>
    <div>
        <input type="text" id="searchInput" placeholder="Поиск по имени или фамилии" oninput="filterContacts()">
    </div>
    </div>
    <div id="contactList"></div>

    <script src="/static/script.js"></script>
</body>
</html>
